APP_PORT=8080
POSTGRES_PORT=5432
POSTGRES_DB=desafio_codificar
POSTGRES_USER=desafio
POSTGRES_PASSWORD=troque_esta_senha
DB_URL=jdbc:postgresql://localhost:5432/desafio_codificar
DB_USERNAME=desafio
DB_PASSWORD=troque_esta_senha
JPA_DDL_AUTO=update
